{% load i18n %}
<script type="text/javascript">
    $(document).ready(function () {
        let wrapper = $('.field_wrapper'); //Input field wrapper
        let fieldHTML = '<div class="row mt-2">' +
            '<div class="col-lg-6 col-md-6 col-sm-12 col-12">' +
            '<div class="form-group">' +
            '<label>{% trans "Country Visited" %} <span class="asteriskField">*</span></label>' +
            '<select name="location" id="location" class="form-control">' +
            '<option value="">{% trans "-- Select --" %}</option>' +
            "{% for country in countries %}" +
            "<option value='{{ country.id }}'>{{ country.title }}</option>" +
            "{% endfor %}" +
            '</select>' +
            '<span id="errorLocation" style="color: red;"></span>' +
            '</div>' +
            '</div>' +
            '<div class="col-lg-6 col-md-6 col-sm-12 col-12">' +
            '<div class="form-group">' +
            '<label>{% trans "Location/Province" %}</label>' +
            '<input type="text" name="location_visited" id="location_visited" class="form-control" placeholder="{% trans "Write a location/province visited..." %}" />' +
            '</div>' +
            '</div>' +
            '<div class="col-lg-6 col-md-6 col-sm-12 col-12">' +
            '<div class="form-group">' +
            '<label>{% trans "Entry Date" %} <span class="asteriskField">*</span></label>' +
            '<input type="date" name="date" min="{{ last_21_days }}" max="{{ today }}" id="date" class="form-control dateinput" placeholder="{% trans "Pick date..." %}"/>' +
            '<span id="errorDate" style="color: red;"></span>' +
            '</div>' +
            '</div>' +
            '<div class="col-lg-6 col-md-6 col-sm-12 col-12">' +
            '<div class="form-group">' +
            '<label>{% trans "Number of Days" %} <span class="asteriskField">*</span></label>' +
            '<input type="number" min="1" name="days" id="days" min="1" max="21" class="number_days form-control" placeholder="{% trans "Write number of days..." %}" />' +
            '<span id="errorDays" style="color: red;"></span>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<hr>';

        $("#number_countries").on("input", function () {
            // console
            $(wrapper).text(""); //Add field html
            console.log("values => " + $(this).val());

            let count = $(this).val();
            for (var i = 1; i <= count; i++) {
                $(wrapper).append(fieldHTML); //Add field html
            }
        });
    });
</script>