{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{#{% load sweetify %}#}
{#{% sweetify %}#}
{% block title %} {% trans "Traveller's Surveillance Form" %} {% endblock %}

{% block content %}
{% include 'travellers/scripts.html' %}
{% include 'travellers/add_countries.html' %}
<!-- Page content -->
<div class="page-content bg-white">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Page header -->
        {% include 'page-header.html' %}
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">
            <!-- Basic card -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-uppercase text-center font-weight-bold">
                        {% trans "Traveller's Health Declaration Form" %}
                    </h5>
                </div>
                <!--./card-header -->

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Circles which indicates the steps of the form: -->
                            <div style="text-align:center; margin-bottom: 10px;">
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                            </div>

                            <form id="regForm" action="" method="post" role="form" autocomplete="off">
                                {% csrf_token %}

                                <div class="tab" id="tab1">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="title font-weight-bold">
                                                {% trans "Traveller Information" %}
                                            </h6>
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <p>{% trans "<b>Note:</b> Write surname and other names as appear in your passport." %}
                                            </p>
                                        </div>
                                        <!--./col-lg-12 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.other_names|as_crispy_field }}
                                                <span id="errorOtherNames" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.surname|as_crispy_field }}
                                                <span id="errorSurname" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.age_category|as_crispy_field }}
                                                <span id="errorAgeCategory" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.age|as_crispy_field }}
                                                <span id="errorAge" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.sex|as_crispy_field }}
                                                <span id="errorSex" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.nationality|as_crispy_field }}
                                                <span id="errorNationality" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.id_number|as_crispy_field }}
                                                <span id="errorIdNumber" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.arrival_date|as_crispy_field }}
                                                <span id="errorArrivalDate" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.mode_of_transport|as_crispy_field }}
                                                <span id="errorModeOfTransport" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.point_of_entry|as_crispy_field }}
                                                <span id="errorPointOfEntry" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.name_of_transport|as_crispy_field }}
                                                <span id="errorNameOfTransport" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                {{ form.seat_number|as_crispy_field }}
                                                <span id="errorSeatNumber" style="color: red;"></span>
                                            </div>
                                            <!--./form-group -->
                                        </div>
                                        <!--./col-lg-6 -->
                                    </div>
                                    <!--./row -->
                                </div>
                                <!--./tab -->

                            </form>
                        </div>
                        <!--./col-md-12 -->
                    </div>
                    <!--./row -->
                </div>
                <!--./card-body -->
            </div><!-- /basic card -->
        </div><!-- /content area -->
    </div><!-- /main content -->
</div><!-- /page content -->
{% include 'travellers/validation.html' %}

{% endblock %}