{% load i18n %}

<script type="text/javascript">
    $(document).ready(function () {
        //age change
        $('#age_category').on("change", function () {
            age_category = $(this).val();

            if (age_category === 'above') {
                $('#age_cat').text("{% trans '(In years) ' %}");
            } else if (age_category === 'below') {
                $('#age_cat').text("{% trans '(In months) ' %} ");
            }
        });

        //asteriskField in seat number
        // $('#mode_of_transport').on("input", function () {
        //     mode_of_transport = $(this).val();
        //     if (mode_of_transport === 'flight') {
        //         $('#seat_astr').text("*");
        //     } else {
        //         $('#seat_astr').text("");
        //     }
        // });

        //asteriskField in duration of stay
        $('#nationality').on("input", function () {
            nationality = $(this).val();

            if (nationality != '493') {
                $('#dur_stay_astr').text("*");
            } else {
                $('#dur_stay_astr').text("");
            }
        });

        //astericField in other visiting purpose
        $('#visiting_purpose').on('input', function () {
            visiting_purpose = $(this).val();

            if (visiting_purpose === 'other') {
                $('#other_purpose_astr').text("*");
            } else {
                $('#other_purpose_astr').text("");
            }
        });

        //astericField in other other emploment
        $('#employment').on('input', function () {
            employment = $(this).val();

            if (employment === 'other') {
                $('#other_employment_astr').text("*");
            } else {
                $('#other_employment_astr').text("");
            }
        });
    });
</script>