{% extends 'base.html' %}
{% load i18n %}

{% load static %}
{% block title %} {% trans "Travellers Surveillance Form" %} {% endblock %}

{% block content %}
    <!-- Page content -->
    <div class="page-content bg-white">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            {% include 'page-header.html' %}
            <!-- /page header -->

            <!-- Content area -->
            <div class="content">
                <!-- Basic card -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-uppercase text-center font-weight-bold">
                            {% trans "Traveller's Health Declaration Form" %}
                        </h5>
                    </div>
                    <!--./card-header -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="alert alert-success">
                                            {% trans "Information successfully submitted." %}
                                        </div>

                                        <p class="text-center">{% trans "Do you want to fill another form?" %}</p>
                                        <div class="mt-2"></div>

                                        <a href="{% url 'travellers:arrival' %}"
                                           class="btn btn-success btn-block">{% trans "Yes" %}</a>
                                        <div class="mt-3"></div>
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% if LANGUAGE_CODE == 'en-us' %}
                                            <a href="/" class="btn btn-danger btn-block">{% trans "No" %}</a>
                                        {% elif LANGUAGE_CODE == 'sw' %}
                                            <a href="/sw" class="btn btn-danger btn-block">{% trans "No" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <!--./card -->
                            </div>
                            <!--./col-lg-12-->
                        </div>
                        <!--./row -->
                    </div>
                    <!--./card-body -->
                </div><!-- /basic card -->
            </div><!-- /content area -->
        </div><!-- /main content -->
    </div><!-- /page content -->
{% endblock %}