[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==2.2.*"
django-admin = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-formtools = "*"
django-inplaceedit = "*"

[requires]
python_version = "3.8"
