[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "==2.2.*"
django-admin = "*"
python-decouple = "*"
psycopg2-binary = "*"
gunicorn= "*"
django-inplaceedit = "*"
django-crispy-forms = "*"
django-phone-field = "*"
django-formtools = "*"
django-multiselectfield = "*"
faker = "*"
django-reset-migrations = "*"

[requires]
python_version = "3.8"
