
{% for module in modules %}
    <div class="item text-center" sid="m_{{module.id}}">
        {% if module.child == 0 %}
        <a class="" href="{{module.link}}">
            <i class="material-icons">{{module.icon}}</i><br>
            <span>{{module.title}}</span>
        </a>
        {% else %}
        <span class="" u="{{module.link}}">
            <i class="material-icons">{{module.icon}}</i><br>
            <span>{{module.title}}</span>
        </span>
        {% endif %}
    </div>
{% endfor %}


