/*===========================================
  Page Header
=============================================*/
.page-header {
    width: 100%;
    padding: 4px;
    background: url("../img/top_banner.png");
    background-size: cover;
    border: 1px solid #ddd;
}

.page-header-content {
    padding: 0;
}

.page-title {
    padding: 0;
    position: relative;
}

.page-title .img img {
    height: 25px !important;
}

.page-title #content {
    margin: 0;
    padding: 0 0 0 10px;
}

.page-title h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.page-title h3 {
    font-size: 18px;
    font-weight: 600;
}


/*===============================================
card
===============================================*/
.card {
    border-radius: 0 !important;
}

/*Info class */
.info p {
    font-size: 14px !important;
}

.info p span {
    display: block;
    font-weight: 600;
}

/*===============================================
background colors
===============================================*/
.bg-graph {
    background-color: #fafafa;
}

.bg-primary-200 {
    background-color: rgb(30, 61, 42);
    color: #ffffff;
}

.bg-secondary-200 {
    background-color: #1565c0;
    color: #ffffff;
}

.bg-success {
    background-color: #5cb85c;
    color: #ffffff;
}

.bg-yellow {
    background-color: #FCC649;
    color: #ffffff;
}

.bg-info {
    background-color: #5bc0de;
    color: #ffffff;
}

.bg-warning {
    background-color: #f0ad4e;
    color: #ffffff;
}

.bg-danger {
    background-color: #D32F2F;
    color: #ffffff;
}

.bg-danger-100 {
    background-color: #d9534f;
    color: #ffffff;
}

.bg-dark-200 {
    background-color: #2f4050;
    color: #ffffff;
}

.bg-dark-100 {
    background-color: #293846;
    color: #ffffff;
}

.bg-dark-50 {
    background-color: #556270;
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #eeeeee;
}

.bg-light-grey {
    background-color: #fafafa;
}

/*=============================================
BTN
============================================*/
.btn {
    border-radius: 0 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #088c4a;
    border-color: #088c4a;
}

.btn-outline-primary {
    color: #088c4a;
    background-color: transparent;
    background-image: none;
    border-color: #088c4a;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #088c4a;
    border-color: #088c4a;
}


/*===============================================
    Forms
 ===============================================*/


/*=============================================
Icons
============================================*/
i.fa-reg-users {
    content: "";
    background-image: url("../icons/passenger.png");
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

i.fa-couple-users {
    content: "";
    background-image: url("../icons/male_female.png");
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

i.fa-active-users {
    content: "";
    background-image: url("../icons/active_users.png");
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

i.fa-above-temp {
    content: "";
    background-image: url("../icons/fever.png");
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

i.fa-normal-temp {
    content: "";
    background-image: url("../icons/normal_users.png");
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

/*form style*/
.pure-form {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #eeeeee;
}

.search-form {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background: #F5F5F5;
    border: 1px solid #eeeeee;
}

.form-group {
    border-radius: 0 !important;
}

.form-group label {
    font-weight: 700;
    font-size: 13px;
}

.form-group span.red {
    color: #CC0000;
}

.form-group input[type=text], input[type=email], input[type=password], textarea {
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 0 !important;
    line-height: 1;
    font-size: 13px;
}

.form-group input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
    border-color: #c0c0c0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-group select {
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 0 !important;
    line-height: 1;
    background: #ffffff;
    font-size: 13px;
}

.form-group select:focus {
    border-color: #c0c0c0 !important;
    border-radius: 0 !important;
    background: #ffffff;
}