{% extends 'backend/base.html' %}

{% block navarea %}
    <div class="p-2">
        <div class="float-left">
            <div style="font-size: 1.2em" id="full_name">Full Name</div>
            <div id="id_number" style="font-size: 0.8em">Number</div>
            <div id="name_of_transport" style="font-size: 0.8em">Transport</div>
        </div>
        <div class="float-right mx-2">
            <input type="hidden" id="travellers_id" name="id">
            <button type="button" class="btn btn-info btn-block" id="set_temp" style="font-size: 2.1em;margin-top:5px;margin-right:30px;">SET</button>
        </div>
        <div class="float-right" style="font-size: 3.1em" >               
            <select class="" id="temp_b">
            {% for i in temp_b %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="float-right" style="font-size: 3.1em">.</div>
        <div class="float-right" style="font-size: 3.1em">
            <select class="" id="temp_a">
            {% for i in temp_a %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table id="travellers_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID Number</th>
                        <th>Flight Number</th>
                        <th>Temp</th>
                        <th>Origin</th>
                    </tr>
                </thead>
                <tbody>
                {% for traveller in travellers %}
                    <tr id="row_{{traveller.id}}" 
                    {% ifnotequal 0 traveller.disease_to_screen %}
                        class="screen"
                    {% endifnotequal %} 
                    >
                        <td class="full_name">{{traveller.full_name}}</td>
                        <td class="id_number">{{traveller.id_number}}</td>
                        <td class="name_of_transport">{{traveller.name_of_transport}}</td>
                        <td class="temp">{{traveller.temp}}</td>
                        <td class="location_origin_title">{{traveller.location_origin__title}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {


        oTable = $('#travellers_table').DataTable( {
            "columnDefs": [
                {
                    "targets": [ 4 ],
                    "visible": false,
                    "searchable": false
                }
            ],
            "paging":   false,
            "info":     false
        } );

        $('#site_search').keyup(function(){
            oTable.search($(this).val()).draw() ;
        })

        $(document).on('click','#travellers_table tr',function(event){

            var row_id = $(this).attr('id');
            var id      = row_id.substring(4);

            $('#full_name').html($('#'+row_id+' .full_name').html());
            $('#id_number').html($('#'+row_id+' .id_number').html());
            $('#location_origin_title').html($('#'+row_id+' .location_origin_title').text());
            $('#name_of_transport').html($('#'+row_id+' .name_of_transport').text());

            var l   = $('#'+row_id+' .location_origin_title').clone();
            l.show();
            var l_text  = l.html();
            l.remove();
            $('#location_origin_title').html(l_text);
            

            // set temperature
            var temp    = $('#'+row_id+' .temp').html();
            var temp_b  = temp.substring(3,4);
            var temp_a  = temp.substring(0,2);
            $('#temp_a').val(temp_a);
            $('#temp_b').val(temp_b);

            //alert(temp_a+' '+temp_b)

            // set id
            $('#travellers_id').val(id);

        });

        $(document).on('click','#set_temp',function(event){

            var temp    = $('#temp_a').val()+'.'+$('#temp_b').val();
            var id      = $('#travellers_id').val();
            var url     = window.location.origin+'/screen/set_temp?id='+id+'&temp='+temp;

            var jqXHR = $.ajax({
                type:"GET",
                url:url
            }).done(function (data){
                
                if(data == 1) $('#row_'+id+' .temp').html(temp);

            }).fail(function(jqXHR, textStatus, errorThrown){
                alert('Failed to update temp');
                if ( console && console.log ) {
                    console.log("Loading Ajax: " + textStatus + ", " + errorThrown);
                }

            }).always(function() {

            });

        });
    } );
 </script>
{% endblock %}